p, a {font-weight: 500;}
h1, h2, h3, h6 {
    font-weight: 200;
}

.boxed-text {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .code-text {
    background-color: #e6e6e6;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
  }
  
  .scroll-spy {
    position: sticky;
    top: 0
  }